body{
    background-color:#0075A2;
    overflow-y:scroll;
    height:auto;
}

h1{
    font-family:Arial;
    color: #120D31;
    text-align: center;
}



.border{
    font-family:Arial;
    color: #120D31;
    text-align: left;
    margin-left:1em;
    margin-right:1em;
    margin-bottom:auto;
    margin-top:auto;
    border: .2em solid black;
    border-radius: 1em;
    background-color:#F4EDEA;
    position:relative;
}

.title{
    text-align: left;
    margin-left:1em;
    margin-top:.5em;
}

.info{
    display:flex;
}

.foodPic{
    max-width:40%;
    max-height:40%;
    width:auto;
    height:auto;
    margin-top:1em;
    margin-left:2em;
    margin-right:2em;
    border: .1em solid black;
    float:left;
}



.text{
    font-size:1.2em;
    margin-left:2em;
    margin-top:1em;
    margin-right:1em;
}

.date{
    font-size:1.2em;
    margin-left:2em;
    margin-bottom:1em;
}
.spoon{
    font-family:Arial;
    color: #120D31;
    text-align: left;
    margin-left:4em;
    margin-top:1em;
    margin-bottom:1em;
    position: static;
    
}