<html>
    <head>
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
 

        <title>Random Recipes</title>
        <link rel="stylesheet" href={{url_for('static',filename='styles.css')}}>
        <body>
            
            <div class="header">
                <a href = '/' class="carrot">
                    <img src={{carrot}} class="carrotPic">
                    <h1 class = "page_name">Random Recipes</h1>
                </a>
                <div class = "search">
                    <form action="/results.html" method="POST" autocomplete="off">
                        <div>
                            <input class="recipeInput "id="myInput" name="recipe" type="text" placeholder="Recipe">
                            <input type="submit" class= "submit">
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="error_msg"><b>{{msg}}</b></div>
            
        </body>
    </head>
</html>