<html>
    <head>
        <link rel="stylesheet" href={{url_for('static',filename='styles.css')}}>
        <body>
            
            <div class="header">
                
                <a href = '/' class="carrot">
                    <img src={{carrot}} class="carrotPic">
                    
                    <h1 class = "page_name">Random Recipes</h1>
                </a>
                
                <div class = "search">
                    <form autocomplete="off">
                        <div>
                            <input class="recipeInput "id="myInput" type="text" name="recipe" placeholder="Recipe">
                            <input type="submit" class= "submit">
                        </div>
                    </form>
                </div>
                
            </div>
            
            <div>
                <div class = "border">
                    <div class = "info1">
                        <div>
                            <h1 class = "title"><a href={{originalSite}}> <b>{{title}}</b><br> </a></h1> 
                            <div class="clearfix">
                                <img src={{img}} class="foodPic">
                            </div>
                            
                        </div>
                       
                        <div class = "servingsize">
                            <img src={{people}} class="peoplePic">
                            <h3>Serving Size</h3>
                            <div class ="servingsizeNum">
                                <b>{{servings}}</b>
                            </div>
                            
                        </div>
                       
                        <div class = "preptime">
                            <img src={{clock}} class="clockPic">
                            <h3>Prep Time</h3>
                            <div class ="preptimeNum">
                                <b>{{time}} min</b>
                            </div>
                            
                        </div>
                    </div>
                   
                       
                    <div class = "ingredients">
                        <h2>Ingredients</h2>
                        <ul>
                            {% for ingredient in ing %}
                            <li>{{ingredient}}</li>
                            {% endfor %}
                        </ul>
                    
                    </div>
                       
                    
                    <div class = "tweet">
                        <b>@{{screen_name}}:</b> {{text}}
                    </div>
                    <div class = "date">{{date}}</div>
                </div>
                
                <div class="spoon">{{msg}}</div>
            </div>
            
               
            
        </body>
        
    </head>
</html>

